<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div class="container">
<h2>Post Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.refid %> - <%= r.mobilenumber %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
